<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="../../public/css/main.css">
</head>
<body>
    <header>Tech Blog</header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        Insert Footer
    </footer>
</body>
</html>